:root {
  /* neutrals */
  --dark: #1E1B15;
  --light: #f5f5f5;
  --gray: #CFC2BE;
   /* colors */
   --green: #2B4735;
   --orange-vibrant: #EE583F;
   --orange-dull:#D1603C;
   --pink-redviolet: #C53C80;
   --pink-light: #F4DEDC;
  }


@font-face {
  font-family: 'Inter var';
  font-style: normal;
  font-weight: 100 900;
  font-display: block;
  src: url(/fonts/Inter-roman.latin.var.woff2) format('woff2');
}
@font-face {
  font-family: 'Inter var';
  font-style: italic;
  font-weight: 100 900;
  font-display: block;
  src: url(/fonts/Inter-italic.latin.var.woff2) format('woff2');
  font-named-instance: 'Italic';
}

body {
  background: var(--light);
  font-family: 'Inter var', system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  -webkit-font-smoothing: subpixel-antialiased;
  font-feature-settings: 'case' 1, 'cpsp' 1, 'dlig' 1, 'cv01' 1, 'cv02',
    'cv03' 1, 'cv04' 1;
  font-variation-settings: 'wght' 450;
  font-variant: common-ligatures contextual;
  letter-spacing: -0.02em;
}

b,
strong,
h3,
h4,
h5,
h6 {
  font-variation-settings: 'wght' 650;
}
h1 {
  color: var(--orange-vibrant) !important;
  font-variation-settings: 'wght' 850;
}
h2 {
  font-variation-settings: 'wght' 750;
}

h2,
h3,
h4,
h5,
h6,
p,
.content {
  color: var(--dark) !important;
}

strong {
  color: var(--green) !important;
}

code {
  font-weight: lighter !important;
  color: var(--dark) !important;
  background-color: var(--gray)  !important;
}

@media screen and (min-device-pixel-ratio: 1.5),
  screen and (min-resolution: 1.5dppx) {
  body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

details summary {
  cursor: pointer;
}

img.next-image {
  margin: 0;
}

.prose a {
  color: var(--pink-redviolet);
}

.nav-line .nav-link {
  color: var(--green-dark);
}

a {
  font-weight: bold;
  text-decoration: none !important;
  color: var(--orange-dull) !important;
  padding: .25 rem;
}
a:hover {
  border-radius: 50px ;
  background-color: var(--pink-light);
  color: var(--orange-vibrant) !important;
  cursor: pointer;
}

 p>a:visited {
  color: var(--green) !important;
}

span {
  border-radius: 50px;
  background-color: var(--pink-light);
  color: var(--orange-vibrant) !important;
}

h2>.homedescription{
  color: var(--pink-redviolet) !important;
}

.homePhotosDiv {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.homeMainPhoto, .homeExtraPhotos {
  margin: 10px !important;
  border-radius: 8px !important;
}